@import 'variables';

.filterSidebar {
    display: block;
    grid-area: filterSidebar;

    h2 {
        font-style: oblique;
        color: $primary;
    }
}

.Content {
    padding: 0.3rem;
    background: $secondary;
    position: absolute;
    top: $navbar-height;
    height: 90vh;
    overflow-y: scroll;

    input {
        margin: 0.4rem 0 0.4rem 0;
        padding: 0.2rem;
        border: none;
    }
}

