@import 'variables';

.AboutDesc {
    padding: 0 144px 0 144px;
    background: $secondary;
    color: $primary;
    display: flex;
    flex-direction: column;
    height: 240px;

    h2 {
        font-style: oblique;
        font-size: 36px;
    }
}

@media only screen and (max-width: 800px) {
    .AboutDesc {
        height: max-content;
    }
}

