@import 'variables';

.Btn {
    border: none;
    padding: 1*$rem;
    border-radius: $primaryRadius;
    background: $tertiary;
    color: $primary;
    max-width: fit-content;
    min-width: 80px;
    text-align: center;
}

.Primary {
    background: $secondary;
}

.Secondary {
    background: black;
}