@import 'variables';

.storeLink {
    padding: 0 144px 0 144px;
    background: $tertiary;
    color: $primary;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        font-style: oblique;
        font-size: 32px;
        text-decoration: none;
        color: $primary;
    }
}