@import 'variables';

.resultBar {
    display: block;
    grid-area: resultBarRight;

    h2 {
        color: $tertiary;
    }

    .selectBox {
        span {
            color: $primary;
        }

        .selectTitle {
            margin-right: 10px;
        }
    }
}
